
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-lg-center">
    <h1>Seja bem vindo(a)!</h1>
    <p>Escolha a opção de cadastro</p>
    
       <a class="list-group-item list-group-item-action list-group-item-light" asp-area="" asp-controller="Pessoa" asp-action="Index">Cadastrar Pessoa</a>
       <a class="list-group-item list-group-item-action list-group-item-light" asp-area="" asp-controller="Pet" asp-action="Index">Cadastrar Pet</a>

</div>