@model FiapSmartCity.Models.Pessoa

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Cadastro</title>
</head>
<body>
    <h1>Efetuar Cadastro</h1>

    <form asp-action="Cadastrar" asp-controller="Pessoa">
        <div class="form-horizontal">
            <hr/>
            <!--Trecho de validação para se existe mensagem a ser exibida -->
            @if (!Html.ViewData.ModelState.IsValid)
            {
                    <!--Tag para exibição da lista de erros -->
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
            }

            <div class="form-group">
                <label asp-for="NomePessoa" class="control-label"></label>
                <input asp-for="NomePessoa" class="form-control col-md-4"/>
                <span asp-validation-for="NomePessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressPessoa" class="control-label">Endereço</label>
                <input asp-for="AddressPessoa" class="form-control col-md-4"/>
                <span asp-validation-for="AddressPessoa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="reset" value="Limpar" class="btn btn-default btn-secondary mt-3"/>
                    
                    <input type="submit" value="Cadastrar" class="btn btn-default btn-success mt-3"/>
                </div>
            </div>
            <hr />
        </div>
    </form>
    <div>
        <a asp-controller="Pessoa" asp-action="Index" class=" btn btn-warning"> Voltar </a>
    </div>
</body>
</html>
